body {
  background-color: black;
}

h1 {
  font-family: "Verdana",sans-serif;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

p {
  font-family: "Verdana",sans-serif;
  font-weight: normal;
  text-align: center;
}

p .download_link {
  font-size: 16px;
  color: aquamarine;
}
